<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="{{ static_url('dist/bundle.js') }}"></script>

    <title>Home work!</title>
  </head>
  <body>
      <div class="container">
        <h1>{{ homework.name }}</h1>
        <p>
          {{ commonmark(homework.description)|safe}}
        </p>
        <form class="form" id="submit-form">
          <div class="form-group">
            <label for="homework-file">Select completed homework file</label>
            <input type="file" class="form-control-file" id="homework-file" />
          </div>
          <div class="form-group">
            <input type="submit" id="submit" value="Submit file" />
          </div>
        </form>

      </div>
  </body>
</html>